<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Entries</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>50</integer>
			<key>Subcategories</key>
			<array>
				<dict>
					<key>ID</key>
					<integer>51</integer>
					<key>icon</key>
					<string>icon_market_brains.png</string>
					<key>name</key>
					<string>Brains</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>52</integer>
					<key>icon</key>
					<string>icon_market_brainsgold.png</string>
					<key>name</key>
					<string>Gold</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>53</integer>
					<key>hideIfEmpty</key>
					<true/>
					<key>icon</key>
					<string>icon_market_new.png</string>
					<key>name</key>
					<string>Free Stuff</string>
				</dict>
			</array>
			<key>hideIfEmpty</key>
			<false/>
			<key>icon</key>
			<string>icon_market_brains.png</string>
			<key>name</key>
			<string>Currency</string>
			<key>source</key>
			<string>Market.plist</string>
			<key>sourceType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<integer>40</integer>
			<key>Subcategories</key>
			<array/>
			<key>hideIfEmpty</key>
			<false/>
			<key>icon</key>
			<string>icon_market_boost.png</string>
			<key>name</key>
			<string>Boosts</string>
			<key>source</key>
			<string>Market.plist</string>
			<key>sourceType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<integer>20</integer>
			<key>Subcategories</key>
			<array>
				<dict>
					<key>ID</key>
					<integer>21</integer>
					<key>icon</key>
					<string>icon_market_functional.png</string>
					<key>name</key>
					<string>Functional</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>22</integer>
					<key>icon</key>
					<string>icon_market_decor.png</string>
					<key>name</key>
					<string>Decors</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>16</integer>
					<key>icon</key>
					<string>icon_market_trees.png</string>
					<key>name</key>
					<string>Fruit Trees</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>31</integer>
					<key>icon</key>
					<string>icon_market_farmsize.png</string>
					<key>name</key>
					<string>Farm Size</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>32</integer>
					<key>icon</key>
					<string>icon_market_ground.png</string>
					<key>name</key>
					<string>Ground</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>60</integer>
					<key>icon</key>
					<string>icon_market_pets.png</string>
					<key>name</key>
					<string>Pets</string>
				</dict>
			</array>
			<key>hideIfEmpty</key>
			<false/>
			<key>icon</key>
			<string>icon_market_items.png</string>
			<key>name</key>
			<string>Items</string>
			<key>source</key>
			<string>Market.plist</string>
			<key>sourceType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<integer>11</integer>
			<key>Subcategories</key>
			<array>
				<dict>
					<key>ID</key>
					<integer>15</integer>
					<key>icon</key>
					<string>icon_market_crops.png</string>
					<key>name</key>
					<string>Plants</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>16</integer>
					<key>icon</key>
					<string>icon_market_trees.png</string>
					<key>name</key>
					<string>Fruit Trees</string>
				</dict>
			</array>
			<key>hide</key>
			<true/>
			<key>hideIfEmpty</key>
			<false/>
			<key>icon</key>
			<string>icon_market_crops.png</string>
			<key>name</key>
			<string>Crops</string>
			<key>source</key>
			<string>Market.plist</string>
			<key>sourceType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<integer>70</integer>
			<key>Subcategories</key>
			<array>
				<dict>
					<key>ID</key>
					<integer>12</integer>
					<key>icon</key>
					<string>icon_market_zombie.png</string>
					<key>name</key>
					<string>Normal</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>13</integer>
					<key>icon</key>
					<string>icon_market_special.png</string>
					<key>name</key>
					<string>Special</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>14</integer>
					<key>icon</key>
					<string>icon_market_mutations.png</string>
					<key>name</key>
					<string>Mutants</string>
				</dict>
			</array>
			<key>hide</key>
			<true/>
			<key>hideIfEmpty</key>
			<false/>
			<key>icon</key>
			<string>icon_market_zombie.png</string>
			<key>name</key>
			<string>Zombies</string>
			<key>source</key>
			<string>Zombies.plist</string>
			<key>sourceType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ID</key>
			<integer>60</integer>
			<key>Subcategories</key>
			<array/>
			<key>hide</key>
			<true/>
			<key>hideIfEmpty</key>
			<true/>
			<key>icon</key>
			<string>icon_market_pets.png</string>
			<key>name</key>
			<string>Pets</string>
			<key>source</key>
			<string>Pets.plist</string>
			<key>sourceType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ID</key>
			<integer>30</integer>
			<key>Subcategories</key>
			<array>
				<dict>
					<key>ID</key>
					<integer>31</integer>
					<key>icon</key>
					<string>icon_market_farmsize.png</string>
					<key>name</key>
					<string>Farm Size</string>
				</dict>
				<dict>
					<key>ID</key>
					<integer>32</integer>
					<key>icon</key>
					<string>icon_market_ground.png</string>
					<key>name</key>
					<string>Ground</string>
				</dict>
			</array>
			<key>hide</key>
			<true/>
			<key>hideIfEmpty</key>
			<false/>
			<key>icon</key>
			<string>icon_market_farm.png</string>
			<key>name</key>
			<string>Farm</string>
			<key>source</key>
			<string>Market.plist</string>
			<key>sourceType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ID</key>
			<integer>90</integer>
			<key>Subcategories</key>
			<array/>
			<key>hideIfEmpty</key>
			<false/>
			<key>icon</key>
			<string>icon_market_farmer.png</string>
			<key>name</key>
			<string>Farmer</string>
			<key>source</key>
			<string>Market.plist</string>
			<key>sourceType</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Version</key>
	<integer>0</integer>
</dict>
</plist>
