<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Entries</key>
	<dict>
		<key>Bombie</key>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>assetKey</key>
					<string>bombieHead</string>
					<key>attachmentID</key>
					<string>kActorPartTagHead</string>
					<key>inheritColor</key>
					<false/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>floatingHead</key>
			<true/>
			<key>frameListFile</key>
			<string>bombie.plist</string>
			<key>marketInfo</key>
			<dict>
				<key>actor</key>
				<true/>
				<key>brainsNeeded</key>
				<true/>
				<key>category</key>
				<string>crop</string>
				<key>categoryID</key>
				<integer>13</integer>
				<key>color</key>
				<array>
					<integer>117</integer>
					<integer>255</integer>
					<integer>95</integer>
				</array>
				<key>cost</key>
				<integer>50</integer>
				<key>growTime</key>
				<integer>14400</integer>
				<key>info</key>
				<string>Tough fighter</string>
				<key>level</key>
				<integer>1</integer>
				<key>name</key>
				<string>Bombie</string>
				<key>subCategory</key>
				<string>special</string>
				<key>typeID</key>
				<integer>2</integer>
				<key>unitKey</key>
				<string>ZombieActorHeadlessData</string>
				<key>xp</key>
				<integer>1</integer>
			</dict>
			<key>spriteSheetFile</key>
			<string>bombie.png</string>
			<key>unitStats</key>
			<dict>
				<key>attacks</key>
				<array>
					<dict>
						<key>frequency</key>
						<integer>1</integer>
						<key>name</key>
						<string>ZombieScratch</string>
					</dict>
				</array>
				<key>con</key>
				<real>29.699999999999999</real>
				<key>dex</key>
				<integer>1</integer>
				<key>focus</key>
				<integer>100</integer>
				<key>str</key>
				<integer>11</integer>
				<key>tier</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>Forest Zombie</key>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>assetKey</key>
					<string>treeWorldFeature</string>
					<key>attachmentID</key>
					<string>kActorPartTagFeatures</string>
					<key>inheritColor</key>
					<false/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>treeWorldBody</string>
					<key>attachmentID</key>
					<string>kActorPartTagBody</string>
					<key>inheritColor</key>
					<false/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>treeWorldFootF</string>
					<key>attachmentID</key>
					<string>kActorPartTagFootF</string>
					<key>inheritColor</key>
					<true/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>treeWorldFootB</string>
					<key>attachmentID</key>
					<string>kActorPartTagFootB</string>
					<key>inheritColor</key>
					<true/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>treeWorldArmF</string>
					<key>attachmentID</key>
					<string>kActorPartTagArmF</string>
					<key>canSwap</key>
					<false/>
					<key>inheritColor</key>
					<true/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>treeWorldArmB</string>
					<key>attachmentID</key>
					<string>kActorPartTagArmB</string>
					<key>canSwap</key>
					<false/>
					<key>inheritColor</key>
					<true/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>attachmentID</key>
					<string>kActorPartTagHead</string>
					<key>visible</key>
					<false/>
				</dict>
				<dict>
					<key>attachmentID</key>
					<string>kActorPartTagJaw</string>
					<key>visible</key>
					<false/>
				</dict>
			</array>
			<key>frameListFile</key>
			<string>forest.plist</string>
			<key>marketInfo</key>
			<dict>
				<key>actor</key>
				<true/>
				<key>brainsNeeded</key>
				<true/>
				<key>category</key>
				<string>crop</string>
				<key>categoryID</key>
				<integer>13</integer>
				<key>color</key>
				<array>
					<integer>117</integer>
					<integer>255</integer>
					<integer>95</integer>
				</array>
				<key>cost</key>
				<integer>50</integer>
				<key>growTime</key>
				<integer>14400</integer>
				<key>info</key>
				<string>Nimble fighter</string>
				<key>level</key>
				<integer>5</integer>
				<key>name</key>
				<string>Forest Zombie</string>
				<key>subCategory</key>
				<string>special</string>
				<key>typeID</key>
				<integer>2</integer>
				<key>unitKey</key>
				<string>ZombieActorGirlData</string>
				<key>xp</key>
				<integer>1</integer>
			</dict>
			<key>spriteSheetFile</key>
			<string>forest.png</string>
			<key>unitStats</key>
			<dict>
				<key>attacks</key>
				<array>
					<dict>
						<key>frequency</key>
						<integer>1</integer>
						<key>name</key>
						<string>ZombieBite</string>
					</dict>
					<dict>
						<key>frequency</key>
						<real>0.10000000000000001</real>
						<key>name</key>
						<string>ZombieScratch</string>
					</dict>
				</array>
				<key>con</key>
				<real>14.300000000000001</real>
				<key>dex</key>
				<real>3.6699999999999999</real>
				<key>focus</key>
				<integer>100</integer>
				<key>str</key>
				<real>8.7100000000000009</real>
				<key>tier</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>Granny Zombie</key>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>assetKey</key>
					<string>grannyFeature</string>
					<key>attachmentID</key>
					<string>kActorPartTagFeatures</string>
					<key>inheritColor</key>
					<false/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>grannyBody</string>
					<key>attachmentID</key>
					<string>kActorPartTagBody</string>
					<key>inheritColor</key>
					<false/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>grannyEyeL</string>
					<key>attachmentID</key>
					<string>kActorPartTagEyeL</string>
					<key>inheritColor</key>
					<false/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>grannyEyeR</string>
					<key>attachmentID</key>
					<string>kActorPartTagEyeR</string>
					<key>inheritColor</key>
					<false/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>grannyFootF</string>
					<key>attachmentID</key>
					<string>kActorPartTagFootF</string>
					<key>inheritColor</key>
					<true/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>assetKey</key>
					<string>grannyFootB</string>
					<key>attachmentID</key>
					<string>kActorPartTagFootB</string>
					<key>inheritColor</key>
					<true/>
					<key>scale</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>frameListFile</key>
			<string>granny.plist</string>
			<key>marketInfo</key>
			<dict>
				<key>actor</key>
				<true/>
				<key>brainsNeeded</key>
				<true/>
				<key>category</key>
				<string>crop</string>
				<key>categoryID</key>
				<integer>13</integer>
				<key>color</key>
				<array>
					<integer>117</integer>
					<integer>255</integer>
					<integer>95</integer>
				</array>
				<key>cost</key>
				<integer>50</integer>
				<key>growTime</key>
				<integer>14400</integer>
				<key>info</key>
				<string>Nimble fighter</string>
				<key>level</key>
				<integer>5</integer>
				<key>name</key>
				<string>Granny Zombie</string>
				<key>subCategory</key>
				<string>special</string>
				<key>typeID</key>
				<integer>2</integer>
				<key>unitKey</key>
				<string>ZombieActorGirlData</string>
				<key>xp</key>
				<integer>1</integer>
			</dict>
			<key>spriteSheetFile</key>
			<string>granny.png</string>
			<key>unitStats</key>
			<dict>
				<key>attacks</key>
				<array>
					<dict>
						<key>frequency</key>
						<integer>1</integer>
						<key>name</key>
						<string>ZombieBite</string>
					</dict>
					<dict>
						<key>frequency</key>
						<real>0.10000000000000001</real>
						<key>name</key>
						<string>ZombieScratch</string>
					</dict>
				</array>
				<key>con</key>
				<real>14.300000000000001</real>
				<key>dex</key>
				<real>3.6699999999999999</real>
				<key>focus</key>
				<integer>100</integer>
				<key>str</key>
				<real>8.7100000000000009</real>
				<key>tier</key>
				<integer>5</integer>
			</dict>
		</dict>
	</dict>
	<key>Version</key>
	<integer>10153</integer>
</dict>
</plist>
